language: python # => 1
    python: # => 2
      - "3.1"
      - "2.7"
    services: # => 3
      - sqlite3
    env: # => 4
      -DJANGO=1.11 DB=sqlite3
    install: # => 5
      - pip install -r requirements.txt
    script: # => 6
      - python poll/manage.py test